.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67b35c;
    padding: 20px 40px;
    .logo{
        width: 100px;
        height: 100%;
        object-fit: contain;
        margin: 0px;
    }
}

.copyright{
    background-color: #569e4b;
    padding: 10px 0;
    p{
        font-size: 14px;
        color: white;
        text-align: center;
        margin: 0px;
    }
}