.button{
    padding: 12px;
    font-size: 16px;
    background-color: #87c73c;
    color: black;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    
}

.button:hover {
     background-color: green;
     color: white;
}