.upload{
    margin-top: 20px;
    margin-bottom: 20px;
    .preview {
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
        margin-bottom: 16px;
    }
    .label{
        font-size: 16px;
        color: #2d2d2d; 
        margin: 0px;
        margin-bottom: 6px;  
    }
}