.home-page-wrapper{
    padding-top: 40px;
    
    .create-wrapper{
        width: 200px;
        margin-right: 0px;
        margin-left: auto;
    }

    .content-wrapper{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
    }

    .pagination{
        max-width: 400px;
        display: flex;
        margin: auto;
    }

    .text-pageOf{
        font-size: 38px;
        width: 380px;
        text-align: center;
        font-weight: bold;
        margin: 0px;
    }
}
